/* src/components/HelpProduct.css */
.help-product {
  position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f7;
}

.help-product h2 {
  font-size: 28px;
    font-weight: bold;
    color: #1d1d1f;
    margin-left: 85px;
    text-align: left;
}

.help-product h2 span {
  font-weight: normal;
  color: #6e6e73;
}

.help-cards {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 10px 0;
  padding-left: 90px;
  gap: 20px;
}


.help-card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 360px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  flex-shrink: 0;
  transition: transform 0.5s;
  
 
}
.help-card:hover {
  transform: scale(1.05); /* Slightly scale on hover */
}
.help-image {
    width: 100%;
    height: auto; /* Adjust height to fit card */
    object-fit: cover;
    border-radius: 20px 20px 0 0; /* Match card's top border radius */
  }

.help-info {    
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  color: #000000;
  border-radius: 0 0 12px 12px;
}

.help-info h3 {
  font-size: 25px;
  margin: 0 0 -30px 0;
  color: #000000;
  font-weight: bold;
  padding: 20px;
}

.help-info p {
  font-size: 15px;
  margin: 0;
  color: #000000;
  font-weight: normal;
  padding: 20px;
}