/* src/components/Header.css */
.header-container {
    background-color: #f8f8f8;
    padding: 10px 0;
  }
  
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }
  
  .header-logo {
    margin-right: auto;
  }
  
  .header-icon {
    margin-left: auto;
  }