/* src/components/Mac.css */
.mac-page {
    background-color: #f5f5f7;
  }
  
  .mac-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mac-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 10px;
  }
  
  .mac-item {
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .mac-item img {
    display: block;
    margin: 0 auto 5px;
    height: 50px;
    width: auto;
  }
  
  .mac-item.small img {
    height: 50px;
    width: auto;
  }
  
  .mac-item span {
    color: rgb(219, 77, 77);
    font-weight: bold;
  }
  
  .mac-education {
    font-size: 14px;
    color: #333;
    padding-top: 30px;
  }
  
  .mac-education a {
    color: #0071e3;
    text-decoration: none;
  }
  
  .mac-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
  }
  
  .mac-content h1 {
    font-size: 72px;
    font-weight: bold;
    color: #1d1d1f;
    padding-left: 60px;
  }
  
  .mac-content p {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    padding-right: 60px;
  }
  
  .mac-video {
    width: 100%; /* Full width */
    height: auto;
    display: block;
    margin: 0 auto;
    outline: none;
    padding-bottom: 10px;
    cursor: pointer;
    transition: transform 0.5s ease, border-radius 0.5s ease, top 0.5s ease; /* Smooth transition */
    border-radius: 0; /* Start with no border-radius */
  }