/* src/components/CategoryList.css */
.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 0;
  
  
}

.category-item {
  text-align: center;
  width: 120px; /* Adjust width to match the image */
  
}

.category-item img {
  width: 100%;
  height: auto;
  
}

.category-item a {
  text-decoration: none; /*bỏ dấu gạch ngang dưới đích chữ  */
}

.category-item p {
  margin-top: 10px;
  font-size: 16px; /* Adjust font size to match the image */
  color: #333; /* Adjust color to match the image */
}

/* .category-item:hover {
  transform: scale(1.05); 
  transition: transform 0.5s ease-in-out; 
} */
